@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    font-family: 'Raleway', sans-serif;
    padding: 0.5%;
    align-items: flex-start;
}

#me{
    padding: 2%;
    width: 15%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

p{
    text-align: justify;
}


#title{
    margin-top: 5%;
    text-align: center;
}

ul{
    list-style-type: none;
}

#me img{
    display: block;
    margin: 0 auto;
    max-width: 60%;
    height: auto;
    border-radius: 50%;
}

#work{
    width: 75%;
    padding: 2%;
    margin-left: 1%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#work img{
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
}

.card{
    padding: 0.5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: auto;
}

.card a
{
    float: right;
    margin-left: 1%;
    padding: 0.5%;
    border: 2px solid black;
    font-weight: bold;
    transition: 0.2s;
}

a:link 
{
    color: black;
    text-decoration: none;
}
  
a:visited 
{
    color: black;
    text-decoration: none;
}
  
.card a:hover 
{
    background-color: black;
    color: white;
    text-decoration: underline;
}
  
a:active 
{
    text-decoration: underline;
}

@media only screen and (max-width: 800px){
    body{
        flex-direction: column;
    }
    
    #me{
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    #work{
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 2%;
    }
}