@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #272727;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

body {
    width: 90%;
    margin: auto;
}

h1 {
    color: cyan;
    text-align: center;  
    margin-top: 10%;
}

p {
    margin-bottom: 1%;
}

a, a:visited, a:hover, a:active {
    color: rgb(79, 204, 68);
    text-decoration: underline;
    background-color: transparent;
}

h1::before {
    content: "👋 ";
}


@media screen and (max-width: 480px) {

    * {
        font-size: small;
        margin-bottom: 5%;
        padding: 2%;
    }
}
