* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  background-color: #faf9f6;
  letter-spacing: -0.003em;
}

main {
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
}

a,
a:visited,
a:hover,
a:active {
  color: #0475cc;
  text-decoration: underline dotted;
}

article {
  margin: 24px auto;
  display: grid;
  grid-template-columns: 100px 1fr;
}

date {
  font-family: 'ui-monospace', 'SF Mono', 'SF Mono Regular', monospace;
  color: #777777;
  font-size: 0.9em;
  padding-top: 0.4em;
}

button {
  background-color: #0475cc;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 4px;
  cursor: pointer;
}

p,
a,
li,
ul,
ol {
  line-height: 1.8;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
  object-fit: cover;
}

#me-img {
  width: 150px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
}

pre {
  overflow-x: auto;
  max-width: 100%;
}
